body {
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
    background: #1c2533;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
}

.form h1, h2, h3, h4, h5 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}

.input-form {
    margin: 15px 40px;
    text-align: center;
}

.input-form input, button {
    padding: 10px;
    width: 100%;
    color: black;
    font-size: 20px;
    background: none;
    outline: none;
    border: 1px solid black;
    box-sizing: border-box;
}

.input-form input[type="text"]:focus {
    border: 1px solid #0fc3f5;
}

.submitBtn {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #0fc3f5;
    transition: .3s;
}

.submitBtn:hover {
    background: #0c1230;
}

.form a {
    display: block;
    padding: 0 0 30px;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: .3s;
}

.form a:hover {
    color: #0fc3f5;
}

.error_message {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}

.error_message h1 {
    margin: 0;
}