.header {
    padding-top: 57px;
    color: black;
    padding-bottom: 57px;
}

header a {
    color: white;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: grey;
    font-size: 16px;
    background: #1c2533;
}

.container {
    width: 1170px;/*позиционирование по центру*/
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li a:hover {
    border-bottom: 1px solid #fff;
}

.menu li {
    margin-right: 40px;
}

.footer-text {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 114px 0
}

.footer-text p {
    margin-right: 67px;
}

#showBestPostsBtn {
    margin-left: 30px;
}

#submitProfilePictureBtn {
    margin-top: 15px;
}

.userDetails{
    margin-top: 60px;
}