body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 16px;
    background: #1c2533;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 50px;
    margin-bottom: 58px;
}

h3 {
    font-size: 25px;
    margin-bottom: 28px;
}

a {
    text-decoration: none;
}

section {
    padding-top: 113px
}

p {
    margin: 0;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;/*позиционирование по центру*/
    margin: 0 auto;
}

.header {
    background: url('../img/6_short.jpg') no-repeat center top / cover;
    padding-top: 57px;
    color: #fff;
    padding-bottom: 322px
}

header a {
    color: #fff;
}

.logo {
    margin-right: 69px;
}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li a:hover {
    border-bottom: 1px solid #fff;
}

.menu li {
    margin-right: 40px;
}

.account {
    font-size: 17px;
    margin-left: auto;
    letter-spacing: 0.1em;
}

.account{
    text-transform: uppercase;
    font-size: 14px;
}

.account p:hover {
    border-bottom: 1px solid #fff;
}

.profile_logo{
    margin-left: 10px;
    margin-top: 15px;
}

.nav {
    display: flex;
    align-items: center;
}

.offer {
    text-transform: uppercase;
    margin-top: 200px;
}

.offer p {
    font-size: 20px;
    letter-spacing: 0.1em;
}

.offer h1 {
    font-size: 100px;
    margin-bottom: 19px;
    margin-top: -9px;
    letter-spacing: 0.02em
}

.btn {
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #fff;
    width: 238px;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #fff;
    color: #273f63;
}

.description {
    display: flex;
    justify-content: space-between;
}

.description p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    line-height: 1.62em;
}

.desc-left, .desc-right {
    width: 567px;
}

.gallery {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}

.gallery img {
    transition: all 0.5s ease;
}

.gallery img:hover {
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    transform: scale(1.1);
}

.footer-text {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 114px 0
}

.footer-text p {
    margin-right: 67px;
}

.black-text {
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 16px
}
